$base-background-color: #242424;
$base-background-light-color: #383737;




.otp__cells{
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex: 1 1 100px;
  box-sizing: border-box;
  gap: 10px;
  padding: 10px;
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.otp__cell {
  aspect-ratio: 1;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem; 
  border: 2px solid #444; 
  background-color: #1a1a1a;
  width: 100%;
  border-radius: 4px; 
  border: 2px solid transparent;
  transition: border 0.5s ease, box-shadow 0.5s ease;

}

.otp__cell:focus {
  border: 2px solid #ffcc00;
  box-shadow: 0 0 5px #ffcc00;
  outline: none; 
}

.otp__cell:hover {
  border-color: #ffcc00; 
  box-shadow: 0 0 5px rgba(255, 204, 0, 0.5); 
}

input[type="text"] {
  width: 100%; 
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

h1.otp__header {
  font-size: 2rem;
  color: #ffffff; 
  text-align: center; 
  margin-bottom: 10px; 
}

p.otp__info {
  font-size: 1rem;
  color: #aaaaaa;
  text-align: center;
  margin-bottom: 20px; 
}


